@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100&display=swap");

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero{
    /*background-color: #ffc0a1;*/
    background: linear-gradient(135deg, #fdaa81, #ffceb6);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 1em 0;
}

ul{
    display: flex;
    list-style: none;
    gap: 2em;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #fff5ef;
}

a:hover{
    color: #fc9a69;
}

.logo-container{
    display: flex;
    flex-shrink: 0;
    gap: 1em;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: #fff5ef;
}

.main-right img{
    filter: drop-shadow(0px 5px 5px #66351c9c);
}

.main-right{
    width: 60%;
}

.main-section{
    width: 60%;
    display: flex;
    align-items: center;
    padding: 2em 0 4em 0;
    gap: 25em;
}

.main-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.main-hero-text{
    font-size: 48px;
    font-weight: 900;
    color: #fff5ef;
}

.secondary-hero-text{
    font-size: 18px;
    font-weight: 300;
    color: #fff5ef;
}

.cta{
    width: 150px;
    height: 50px;
    border: 2px solid #fff5ef;
    border-radius: 8px;
    background-color: #ffc7aa;
    color: #fff5ef;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}

.cta:hover{
    background-color: #fff5ef;
    color: #ffc0a1;
}

.info-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em 0;
    width: 60%;
}

.info-header{
    text-align: center;
    background: linear-gradient(135deg, #fdaa81, #ffceb6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: 900;
}

.img-list{
    display: flex;
    gap: 4em
}

.info-images{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.info-img{
    border: 3px solid #fc9a69;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.text-list{
    display: flex;
    justify-content: space-between;
}

.info-titles{
    width: 200px;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    background: linear-gradient(135deg, #fdaa81, #ffceb6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img-text{
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #fdaa81;
}