@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100&display=swap");

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero{
    /*background-color: #ffc0a1;*/
    background: linear-gradient(135deg, #fdaa81, #ffceb6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 1em 0;
}

ul{
    display: flex;
    list-style: none;
    gap: 2em;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #fff5ef;
}

a:hover{
    color: #fc9a69;
}

.logo-container{
    display: flex;
    flex-shrink: 0;
    gap: 1em;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: #fff5ef;
}

.main-right img{
    filter: drop-shadow(0px 5px 10px #b65d309c);
}

.main-section{
    width: 60%;
    display: flex;
    align-items: center;
    padding: 4em 0;
    gap: 9em;
}

.main-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.main-hero-text{
    font-size: 48px;
    font-weight: 900;
    color: #fff5ef;
}

.secondary-hero-text{
    font-size: 18px;
    font-weight: 300;
    color: #fff5ef;
}

.cta{
    width: 150px;
    height: 50px;
    border: 2px solid #fff5ef;
    border-radius: 8px;
    background-color: #ffc7aa;
    color: #fff5ef;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}

.cta:hover{
    background-color: #fff5ef;
    color: #ffc0a1;
}